.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../img/loader1.gif) center center no-repeat;
}

body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
  font-family: 'Exo', sans-serif;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
  z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../img/icons/next.png);
} */

#navigation {
  background: #e74c3c;
  z-index: 100;
  padding: 10px 10px;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.navbar-toggler-icon {
  background: url('../img/icons/menu.png');
  background-size: 100%;
}

.navbar-toggler-icon:active {
  color: #fff;
}

.navbar-toggler-icon:focus,
.navbar-toggler:focus {
  color: #fff;
  outline: none;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
  width: 100%;
}

.titleMessage {
  position: absolute;
  width: 100%;
  /* top: 100%; */
  height: 80px;
  z-index: 5;
  margin-top: -225px;
}

.titleMessage p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
  font-size: 40px;
  text-align: center;
  margin: 0 0 0;
}

.section {
  padding: 100px 0 50px;
}

.aboutImage {
  max-width: 100%;
}

#about p {
  font-weight: 300;
}

.skillsSection {
  background-color: #e74c3c;
  color: #fff;
}

.skill {
  text-align: center;
  margin-left: 10px;
}

.devicon {
  font-size: 40px;
}

.filter a {
  color: black;
  border: 1px solid grey;
  padding: 10px 10px;
  display: block;
}

.filter a:hover {
  text-decoration: none;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter .current {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}

.filter {
  text-align: center;
  width: 100%;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.itemsContainer {
  width: 100%;
}

.itemsContainer .items {
  display: flex;
  align-items: center;
}

.items li {
  display: inline-block;
  padding: 5px;
  justify-content: center;
}

.items li img {
  width: 100%;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

/* .items .icons:before {
  display: none;
} */

.items a {
  width: 40px;
  height: 40px;
  background-color: #e74c3c;
  position: relative;
  display: inline-block;

  /* -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s; */
}

.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
  opacity: 1;
}

.items .openButton {
  visibility: hidden;
}

.items .projectLink {
  visibility: hidden;
}

.items .item:hover .openButton {
  visibility: visible;
}

.items .item:hover .projectLink {
  visibility: visible;
}

.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
}

.items {
  padding: 0;
}

.contactSection {
  padding-top: 30px;
  color: black;
}

.contactSection p {
  font-size: 18px;
}

.contactSection .icon {
  color: black;
  font-size: 30px;
  display: inline;
}

.contactSection a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.copyrightSection {
  background-color: #000;
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0px;
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  .items .item {
    max-width: 95%;
    left: 10px;
  }
}
