body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
  font-family: 'Exo', sans-serif;
  text-align: center;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../img/loader1.gif) center center no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
  z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

#navigation {
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  padding: 10px 10px;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.navbar-toggler-icon {
  background: url('../img/icons/menu.png');
  background-size: 100%;
}

.navbar-toggler-icon:active {
  color: #fff;
}

.navbar-toggler-icon:focus,
.navbar-toggler:focus {
  color: #fff;
  outline: none;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
  width: 100%;
}

.titleMessage {
  position: absolute;
  width: 100%;
  /* top: 100%; */
  height: 80px;
  z-index: 5;
  margin-top: -225px;
}

.titleMessage p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
  font-size: 40px;
  margin: 0 0 0;
}

.section {
  padding: 100px 0 50px;
}

/* About  */

.aboutImage {
  max-width: 100%;
  border: 1px solid black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#about p {
  font-weight: 300;
}

/* Skills  */

.skillsSection {
  background-color: #eebb4d;
  color: #000;
}

/* .skillsSection h2 {
  color: grey;
} */

.skill {
  margin-left: 10px;
}

.devicon {
  font-size: 40px;
}

.filter a {
  color: black;
  border: 1px solid grey;
  padding: 10px 10px;
  display: block;
}

.filter a:hover {
  text-decoration: none;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter .current {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}

.filter {
  width: 100%;
}

.section .heading {
  padding-bottom: 40px;
  width: 100%;
}

/* Projects  */

.projects-container {
  position: absolute;
}

.project-image {
  height: 300px;
  width: 300px;
  position: relative;
  border: 1px solid grey;
}

#portfolio {
  padding: 7% 5%;
  margin: 50px auto;
}

.project-item {
  display: inline-block;
  padding: 6%;
}

.project-item .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.project-item .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

.icons a {
  width: 40px;
  height: 40px;
  background-color: #e74c3c;
  position: relative;
  display: inline-block;

  /* -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s; */
}

.project-item .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
}

.project-item .openButton {
  visibility: hidden;
}

.project-item .projectLink {
  visibility: hidden;
}

.project-item:hover .openButton {
  visibility: visible;
}

.project-item:hover .projectLink {
  visibility: visible;
}

.project-item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
}

.project-image .imageOverlay {
  opacity: 1;
}

/* Contact  */

.contactSection {
  padding-top: 30px;
  color: black;
}

.contactSection p {
  font-size: 18px;
}

.contactSection .icon {
  color: black;
  font-size: 30px;
  display: inline;
}

.contactSection a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.copyrightSection {
  background-color: #000;
  color: #fff;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0px;
  font-size: 12px;
}

/* @media (max-width: 1000px) {
  body {
    scroll-padding-top: 300px;
  }
} */
