body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
  font-family: "Exo", sans-serif;
}

/* sections  */

#skills {
  padding: 60px 0 50px;
  background-color: #f6f5f5;
}

#portfolio {
  padding: 6% 3%;
}

#footer {
  padding: 110px 0 0 0;
}

/* containers  */

.flex-container {
  padding-top: 50px;
}

/* main image  */

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../img/loader.gif) center center no-repeat;
}

.art {
  background-image: url(../img/art.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-position: center;
}

/* navigation  */

#navigation {
  background: #900d0d;
  z-index: 100;
  padding: 5px 5px;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: #fff;
}

.nav-item .nav-link {
  text-align: left;
}

.navbar-brand {
  color: #fff;
}

.navbar-brand:hover {
  color: #cd0a0a;
}

#navigation li a:hover {
  color: #cd0a0a;
}

.navbar-toggler-icon:active {
  color: blue;
}
.navbar-toggler-icon {
  background: url("../img/icons/menu.png");
  background-size: 100%;
}

.navbar-toggler-icon:focus,
.navbar-toggler:focus {
  color: #fff;
  outline: none;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
  width: 100%;
}

/* About  */

.image-container {
  padding: 8% 0;
  position: relative;
}

.image-container::before {
  content: " ";
  /* display: block; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.3;
  background-image: url(../img/map-medium.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.aboutImage {
  max-width: 100%;
  border-radius: 50%;
  border: 1px solid grey;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#about {
  text-align: left;
}

.about-container {
  background-color: white;
  padding: 45px;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

#about h5 {
  color: black;
}

#about p {
  font-weight: 300;
  color: grey;
}

/* Skills  */

.icon-container {
  height: 60px;
  width: 60px;
  background-color: #f8f8ff;
  border-radius: 50%;
  padding: 5px;
  margin: auto;
  border: 1px solid #d8d3cd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.icon-container img {
  height: 45px;
  width: 45px;
  margin: auto;
  display: block;
}

#dev p {
  padding-top: 10px;
  color: grey;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.icon-container:hover {
  -webkit-animation: swing 2s ease;
  animation: swing 2s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Projects  */

#portfolio {
  text-align: center;
}

.project-info h2 {
  color: black;
  font-size: 18px;
  margin-bottom: 20px;
}

.project-info {
  padding: 5px;
  margin: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-wrapper {
  position: relative;
  margin: 5px;
  padding: 10px;
}

.project-box {
  position: relative;
  height: 360px;
  width: 360px;
  margin: 0 auto;
  transition: transform 2s;
}

.project-box:hover {
  transform: scale(1.05);
}

.project-props {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  bottom: 0;
  border-radius: 10px;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#premiere-preview {
  background: url(../img/projects/underbelly.jpg) center center/cover no-repeat;
}

#fitness-preview {
  background: url(../img/projects/pmd.jpg) center center/cover no-repeat;
}

#music-preview {
  background: url(../img/projects/music.png) center center/cover no-repeat;
}

#newsletter-preview {
  background: url(../img/projects/newsletter.png) center center/cover no-repeat;
}

#breakout-preview {
  background: url(../img/projects/breakout.png) center center/cover no-repeat;
}

.project-info-wrapper {
  visibility: hidden;
  position: relative;
  text-align: center;
  padding-top: 80px;
}

.visible {
  visibility: visible;
}

.project-info ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

.project-info-wrapper span {
  align-items: center;
  padding: 4px 7px 4px;
  margin: 3px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.project-info {
  position: relative;
}

.project-info li {
  display: inline-block;
  padding-top: 15px;
}

.project-links ul {
  list-style: none;
  padding: 5px;
}

.project-links li {
  display: inline-block;
}

.project-links i {
  background-color: black;
  border-radius: 5px;
  padding: 9px;
  color: #f4f4f4;
  font-size: 18px;
}

.project-links i:hover {
  background-color: #1b262c;
}

/* Footer - Contact Form   */

#footer {
  text-align: center;
}

#footer .container .row .col-lg-6 {
  margin: 0 auto;
  padding: 0 60px;
}

#footer {
  text-align: center;
  background-color: #900d0d;
  margin: 0;
}

.footer h3 {
  color: white;
  font-size: 16px;
  text-align: center;
}

.footer p {
  color: white;
  font-size: 11px;
}

.cat-on-form {
  position: relative;
  z-index: 1;
}

.cat-on-form img {
  position: absolute;
  width: 45px;
  height: auto;
  z-index: 2;
  left: 10%;
  top: -106px;
}

.footer .form-control {
  margin-bottom: 0px;
  position: relative;
  padding: 0;
  border-style: none;
}

.footer .contact-form .form-control input,
.footer .contact-form .form-control textarea {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  color: #808080;
  display: block;
}

.footer .contact-form .form-control input {
  margin: 6px 0;
}

.footer .contact-form .form-control textarea {
  overflow: auto;
  display: block;
  resize: none;
  margin: 6px 0;
}

.footer .form-control input:focus,
.footer .form-control textarea:focus {
  outline: 0;
  border-color: #777;
}

.contact-form button {
  width: 100%;
  display: block;
  background-color: grey;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding: 10px 0;
  border-style: none;
}

.footer button:hover {
  background-color: #52575d;
}

.footer .form-control.error span {
  visibility: visible;
}

.contact-form span {
  display: block;
  color: white;
  font-weight: lighter;
  visibility: hidden;
  margin: 8px 0;
}

.contact-form.sent span {
  visibility: visible;
}

/* Footer - Contact links */

#footer .contact-links {
  margin-top: 20%;
}

#footer ul {
  padding: 0;
  margin: 12px;
}

#footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 2px;
}

#footer ul li i {
  margin: 0 -1px 0 0;
}

#footer ul li a {
  width: 55px;
  height: 55px;
  background-color: #000;
  text-align: center;
  line-height: 53px;
  font-size: 25px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  z-index: 1;
}

#footer ul li a .icon {
  position: relative;
  color: #fff;
  transition: 0.5s;
  z-index: 3;
}

#footer ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

#footer ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

#footer ul li a:hover:before {
  top: 0;
}

#footer ul li:nth-child(1) a:before {
  background: #382933;
}

#footer ul li:nth-child(2) a:before {
  background: #0077b5;
}

#footer ul li:nth-child(3) a:before {
  background: #dd4b39;
}

/* copyright  */

#footer p {
  font-size: 11px;
  padding: 35px;
  margin: 0;
}

/* Media Queries  */

@media (max-width: 1000px) {
  #footer .contact-links {
    margin-top: 20px;
  }
}

@media (max-width: 815px) {
  .skill-icons > img {
    border: none;
  }

  .grid-item {
    flex-basis: 50%;
  }

  #about {
    text-align: center;
  }
}

@media (max-width: 990px) {
  .nav-item .nav-link {
    text-align: left;
  }

  #footer .container .row .col-lg-6 {
    margin: 0 auto;
    padding: 0 15px;
  }
}
