@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: grey;
  text-align: center;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

.message {
  margin-bottom: 100px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cta {
  margin: 100px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  bottom: 0; */
}

.cta .fab {
  font-size: 40px;
  margin: 0 7px;
}

.skills .devicon {
  font-size: 60px;
  margin: 0 7px;
}

.container p {
  font-size: 13px;
}

/* .cta a {
  margin: 10px;
} */

.cta a:link {
  color: black;
}

.cta a:visited {
  color: black;
}

.cta a:hover {
  color: #aaafb3;
}

.cta a:active {
  color: white;
}
